COMPOSE_PROJECT_NAME=pulse_engine
COMPOSE_FILE=docker-compose.yml
HOST_ENV=container

DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
SERVER_FQDN=localhost
DJANGO_LOG_LEVEL=INFO

DATABASE_NAME=pulse_relational
DATABASE_USER=root
DATABASE_PASS=root
DATABASE_HOST=db_mysql
DATABASE_PORT=3306

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_DATABASE=pulse_raw
MONGO_HOST=db_mongo
MONGO_PORT=27017

MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USER=guest
MQ_PASS=guest

MQ_ECHANGE=pulse.exchange
MQ_QUEUE_SCRAPE=tasks.scrape
MQ_QUEUE_NOTIFY=tasks.notify
MQ_ROUTING_KEY=scrape.request

CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=rpc://

NGINX_CONF_PATH=./nginx/default.conf

GUNICORN_WORKERS=3
GUNICORN_THREADS=2

ENCRYPTION_KEY=your-32-byte-base64-key-here
SCRAPER_TIMEOUT=30
USER_AGENT="PulseIntelligence/1.0 (Bot; +http://localhost)"